<nav class="navbar sticky-top navbar-expand-sm bg-info navbar-dark">
  <ul class="nav navbar-nav">
    <!-- <li class="">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li> -->
    <li class="nav-item">
      <a href="#/Workorders" class="nav-link">Workorders</a>
    </li>
    <li class="nav-item">
      <a href="#/Locations" class="nav-link">Locations</a>
    </li>
  </ul>
</nav>
