<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <div id="login" class="container pt-5">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="changePass" class="form" action="/register" method="post">
              <h3 class="text-center text-info">Registration</h3>
              <div class="form-group">
                <label for="token" class="text-info"
                  >Enter token:</label
                ><br />
                <input
                  type="text"
                  name="token"
                  id="token"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password" class="text-info">Enter new password:</label
                ><br />
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="pass2" class="text-info">Enter new password:</label
                ><br />
                <input
                  type="password"
                  name="pass2"
                  id="pass2"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="submit"
                  id="changePassBtn"
                  class="btn btn-info btn-md"
                  value="Submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
